@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}






h1 {
    color:#a0c9e4;
    background-color: #000000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: dotted;
    border-width: 3px;
    border-color: #ff0000;
    border-radius: 30px;
    font-size: 50px;
    box-shadow: 10px 10px 20px #4094f3;
}

h2{
    color: #1676c5;
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    font-family: 'SBAggroB';
    font-size: 35px;

}

h2::first-letter{
    font-size: 50px;
    border-style: dotted
}

h2:hover{
    background-color: #ff0808;
    color: #fff;
    border-color: #ffe607;
}

h2:hover:first-letter{
    border-color: #ffe607;
    color: #000000;
}

p {
    text-indent: 20px;
    line-height: 200%;
    font-family: 'InkLipquid';
    font-size: 20px;
}

















































